.details {
    background: #FFFFFF;
    /* Line gray */

    border: 1px solid #F0F0F0;
    border-radius: 12px;
    padding: 16px;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    &__top {
        padding-bottom: 16px;
        border-bottom: 1px solid #F0F0F0;
        display: flex;
        justify-content: space-between;
    }
    &__medium {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }
    &__bottom {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #F0F0F0;

    }
    &__row {
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    &__indicator {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        &-wrap {
            position: relative;
            padding-left: 15px;
        }

    }
    &__name {
        color: #A5A5A5;
        margin-bottom: 5px;
    }
    &__value {
        &-date {
            color: #A5A5A5; 
            font-size: 14px;
        }
    }
    &__btn {
         color: #FF7010;
         background: none;
         border: none;
         cursor: pointer;
         transition: all 400ms;
         &.active {
            svg {
                transform: rotate(180deg);
            }
         }
    }


    &__products {
        display: flex;
        align-items: center;
        &-img {
            width: 40px;
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: -15px;
            }
        }
    }
    &__product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        &-row {
            display: flex;
            align-items: center;
        }
        &-img {
            width: 50px;
            border-radius: 50%;
            margin-right: 16px;
        }
        &-name {
            font-weight: 700;
        }
        &-composition {
            line-height: 1.4;
        }
        &-count {
            background: #FFEEE2;
            border-radius: 6px;
            padding: 10px 20px;
            color: #FF7010;
            display: inline-block;

        }
        &-total {
            color: #FF7010;
            font-weight: 700;
            text-align: right;
        }
    }
    @media screen and (max-width: 767px) {
        &__col {
            margin-bottom: 10px;
        }
    }
}