.add-product {
    margin-bottom: 25px;
    &__title {
        margin-top: 0;
    }
    &__form {
        width: 100%;
    }
}

.form {
    &__col {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}


.admin {
    &__title {
        margin-top: 0;
    }
    &-list {
        overflow-x: auto;
        margin-bottom: 25px;
        &__title {
            margin-top: 0;
        }
    }
    &-product {
        border: 1px solid var(--primary);
        background-color: var(--white);
        &__title {
            margin-top: 0;
        }
        &--edit {
            cursor: no-drop;
            user-select: none;
            tbody {
                pointer-events: none;
            }
        }
        &__img {
            width: 100%;
            border-radius: 50%;
            max-width: 100px;
        }
        &__row:not(:last-child) &__col {
            border-bottom: 1px solid var(--primary);
        }
        &__col {
            max-width: 250px;
            padding: 10px;
            &:not(:last-child) {
                border-right: 1px solid var(--primary);
            }
        }
        &__date {
            white-space: nowrap;
        }
    }
    &-order {
        &__title {
            margin-top: 0;
            margin-bottom: 0;
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
        &__item {
            // display: flex;
            // width: 100%;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &-details {
                width: 100%;
                margin-right: 15px;
            }
            &-nav {
                display: flex;
                margin-top: 10px;
            }
            &-btn {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &__filter {
            display: flex;
            align-items: center;
            &-status {
                margin-right: 15px;
            }
        }
    }
    @media screen and (max-width: 992px) {
        &-order {
            &__title {
                margin-bottom: 25px;
            }
            &__nav {
                flex-wrap: wrap;
            }
            &__filter {
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &-order {
            &__filter {
                &-status {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

