.filter {
    &__title {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    &__category {
        color: var(--gray-text);
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 400;
        margin-top: 0;
    }
    &__btn {
        padding: 10px 15px;
        background-color: var(--white);
        border: 1px solid var(--gray-line);
        display: inline-block;
        color: var(--black);
        border-radius: 6px;
        line-height: 1;
        font-size: 14px;
        margin-right: 8px;
        margin-bottom: 8px;
        cursor: pointer;
        &:hover, &.active {
            color: var(--white);
            border: 1px solid var(--primary);
            background-color: var(--primary);
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    &__close {
        background-color: transparent;
        color: var(--gray-text);
        border: none;
        cursor: pointer;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0;
        border-top: 1px solid var(--gray-line);
    }
    &__reset {
        width: 50%;
        margin-right: 10px;
    }
    &__accept {
        width: 50%;
    }
    &__content {
        padding: 20px;
    }
}
