
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --primary: #FF7010;
  --black: #191919;
  --gray-text: #A5A5A5;
  --gray-line: #F0F0F0;
  --gray-bg: #F9F9F9;
  --white: #fff;
  --red: #E23535;
  --primary-light: #FFEEE2;
  --green: #24D17E;
}